<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    
    
    <title>Body</title>
  </head>
  <body>
    <div class ="container">
    <div class="jumbotron">
      
      <h1 class="text-center">TITLE</h1>
    </div>
    <div>
  <h1 >Body</h1>
      <p>If you have yarn package manager installed then run yarnpkg start.

Open localhost:3000 in your browser to see basic react app in action.

Now that we are done with setup process lets start actual coding:

We are going to use axios module for sending requests to backend and material ui kit to create ui components since they are responsive and have nice animations. Let install them with the following command:</p></div>
<div class="row">
    <div class = "col-3 bg-light">
      <p>
Reactjs is a popular frontend view library from facebook for creating single page apps.In today’s tutorial we are going to create basic login and sign up forms using create-react-app module of reactjs.
      </p>
    </div>
    
    <div class = "col-3 bg-light">
    Here Loginscreen.js is the page which acts as a container to switch between login and registration components defined in Login.js and Register.js respectively. UploadScreen in my case was the page which I needed to display after successful user login which will change as per your needs. App.js is the parent component of all the pages.

Lets us start with render method of Login.js which contains username and password fields as follows:
</div>
</div>

  </div>
  </body>
</html>